* text=auto eol=lf

*.md text eol=lf
*.txt text eol=lf
*.sl text eol=lf
*.py text eol=lf
*.rs text eol=lf
*.toml text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sl -linguist-detectable
